version: "3.9"

services:
  backend:
    build: ./backend
    environment:
      SENDGRID_API_KEY: "${SENDGRID_API_KEY}"
      FROM_EMAIL: "${FROM_EMAIL}"
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
