services:
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    environment:
      - API_URL=http://192.168.1.123:8000 
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8000:8000"
