apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: amigo-secreto-backend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        env:
        - name: SENDGRID_API_KEY_FILE
          value: /etc/secrets/sendgrid_api_key
        volumeMounts:
        - name: sendgrid-secret
          mountPath: /etc/secrets
          readOnly: true
      volumes:
      - name: sendgrid-secret
        secret:
          secretName: sendgrid-secret
          items:
          - key: SENDGRID_API_KEY
            path: sendgrid_api_key
